useDynLib(MM4LMM)
import(parallel)
import(dplyr)
import(purrr)
importFrom("Matrix","isDiagonal")
importFrom("corpcor","is.positive.definite")
importFrom("stats" , "as.formula","model.matrix","pchisq","var","terms","pf")
importFrom("MASS", "ginv")
importFrom("utils", "combn")
importFrom("utils","tail")
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
